{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block head %}

{% endblock %}

{% block foot %}
    <script language="javascript" type="text/javascript" src="{% static 'lib/jquery.flot.js' %}"></script>
    <script>
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
                position: "absolute",
                display: "none",
                top: y + 5,
                left: x + 5,
                border: "1px solid #fdd",
                padding: "2px",
                "background-color": "#fee",
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        $(function () {
            var updateInterval = 30 * 1000,
                data = [],
                totalPoints = 24 * 60 * 60,
                last_time,
                previousPoint = null,
                placeholder = $("#skip_chart"),
                options = {
                    series: {
                        lines: {
                            show: true
                        },
                        points: {
                            show: true
                        }
                    },
                    grid: {
                        hoverable: true,
                        clickable: true
                    },
                    yaxis: { min: 0 },
                    xaxis: {
                        mode: "time",
                        minTickSize: [30, "minute"]
                    }
                },

                plot = $.plot(placeholder, [ ], options);

            function updateData() {
                var max_count, url;

                if (totalPoints == data.length)
                    max_count = 1;
                else
                    max_count = totalPoints - data.length;

                url = '{% url get_skip_data %}?max_count='+max_count;
                if (last_time)
                    url += '&last_time='+last_time;
                $.get(url, function (response_data) {
                    if (response_data) {
                        data.push.apply(data, response_data);
                        data = data.slice(data.length - totalPoints);

                        last_time = data[data.length - 1][0];

                        $.plot(placeholder, [ data ], options);
                    }
                });
            }

            function update() {
                updateData();
                setTimeout(update, updateInterval);
            }

            update();

            placeholder.bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {

                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                        showTooltip(item.pageX, item.pageY, y + "%");
                    }
                } else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
{% endblock %}

{% block container %}
    <div class="page-header">
        <h1>Skip Chart</h1>
        <div id="skip_chart" style="height:300px;"></div>
    </div>
    <div class="page-header">
        <h1>State List</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>{% trans 'Name' %}</th><th>{% trans 'Value' %}</th></tr>
        </thead>
        <tbody>
        {% for i in state_list %}
            <tr><td>{{ i.name }}</td><td>{{ i.value }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}