{% extends 'base.html' %}
{% load staticfiles i18n tz %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block foot %}
    <script language="javascript" type="text/javascript" src="{% static 'lib/jquery.flot.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'lib/jquery.flot.time.js' %}"></script>
    <script>
        var PID = function () {
            var K = 0.0001, Ti = 0.01, Td = 1;

            var prevErr = 0;
            var Int = 0;
            var prevU = 0;

            var LIMIT = 1000;
            this.queue = 0;
            this.U = 1;
            this.eatSize = 0;

            this.eat = function (count) {
                var Err, dErr;

                Err = this.queue - LIMIT;
                dErr = Err - prevErr;
                Int += Err;
                this.U = (prevU + K * (Err + Ti*Int + Td*dErr)) / 2;
                prevErr = Err;
                prevU = this.U;

                if (this.U < 0)
                    this.U = 0;
                if (this.U > 1)
                    this.U = 1;
                for (var i = 0; i < count; i++)
                    if ((1 - this.U) > Math.random())
                        this.queue += 1;
                this.eatSize = 100;
                this.queue -= this.eatSize;
                if (this.queue < 0)
                    this.queue = 0;
            }
        }

        function initChart() {
            var c1 = [], c2 = [], c3 = [], c4 = [];
            var pid = new PID();
            var total = 1000;
            var upLimit = 15;
            for (var i = 1; i <= total; i++) {
                var y = Math.random() * 250 + 500;
                y = parseInt(y);
                c1.push([i, y]);
                pid.eat(y);
                c2.push([i, pid.queue]);
                c3.push([i, pid.U]);
                c4.push([i, pid.eatSize]);
            }

            $.plot($('#c1'), [ { data: c1, label: "Packages per min" }, { data: c4, label: "Processing per min" } ], {
                yaxis: { min: 0 }
            });

            $.plot($('#c2'), [ c2 ], {
                //yaxis: { max: 50, min: 0 }
            });

            $.plot($('#c3'), [ c3 ], {
                yaxis: { max: 1, min: 0 }
            }   );
        }

        $(function () {
            initChart();
        });
    </script>
{% endblock %}

{% block container %}
    <div class="page-header">
        <div id="c1" style="height:300px;"></div>
        <h1>Queue per min</h1>
        <div id="c2" style="height:300px;"></div>
        <h1>Take percent per min</h1>
        <div id="c3" style="height:300px;"></div>
    </div>
{% endblock %}